<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <title>Шаурма На Труда</title>
    {% load static %}
    <link rel="icon" sizes="192x192" href="{% static 'img/logo svg 240 x 240 no paint.svg' %}">
    <link rel="shortcut icon" href="{% static 'img/logo svg 240 x 240 no paint.svg' %}">
</head>
<body>
{% csrf_token %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'queue/style.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/base_handlers.js' %}"></script>
{% include 'shaw_queue/header.html' with staff_category=staff_category %}
<div class="page-content">
    {% block content %}
        Нечего отображать.
    {% endblock %}
    {% block aditional_static %}
    {% endblock %}
</div>
</body>
</html>
