<div id="page-content">
    {% if vertical %}
        <div class="open-order-display">
            <span style="margin: 0 5% 0 10%">Жарим</span><span style="margin: 0 10% 0 10%">Готовы</span>
        </div>
    {% endif %}
    <div class="open-orders-container{% if vertical %}-vertical{% endif %}">
        {% if not vertical %}
            <div class="open-order-display">
                {% if new %}
                    <img src="https://sunveter.ru/uploads/posts/2021-10/1634392734_fire_1024.gif" alt="this slowpoke moves"  width="70" style="margin-left: 20px"/>
                {% else %}
                    Жарим
                {% endif %}
            </div>
        {% endif %}
        {% for open_order in display_open_orders %}
            <div class="open-order-display">
            <span class="order-display-number">
                {{ open_order.daily_number }}
            </span>
            </div>
        {% empty %}
        {% endfor %}
    </div>
    {% if vertical %}
        <div class="open-orders-container-vertical">
            {% for open_order in display_open_orders2 %}
                <div class="open-order-display">
                <span class="order-display-number">
                    {{ open_order.daily_number }}
                </span>
                </div>
            {% empty %}
            {% endfor %}
        </div>
    {% endif %}

    {% if vertical %}<div class="center-vertical-line"></div>{% endif %}
    <div class="ready-orders-container{% if vertical %}-vertical{% endif %}">
        {% if not vertical %}
            <div class="open-order-display">
                {% if new %}
                    <img src="https://s4.gifyu.com/images/oie_15101841A6MYh5oR-5.gif" alt="this slowpoke moves"  width="100" />
                {% else %}
                    Готовы
                {% endif %}
            </div>
        {% endif %}
        {% for ready_order in display_ready_orders %}
            <div class="ready-order-display">
            <span class="ready-order-display-number order-display-number">
                {{ ready_order.daily_number }}
            </span>
                {# {{ ready_order.servery }}#}
            </div>
        {% empty %}
        {% endfor %}
    </div>
    {% if vertical %}
        <div class="ready-orders-container-vertical">
            {% for ready_order in display_ready_orders2 %}
                <div class="ready-order-display">
            <span class="ready-order-display-number order-display-number">
                {{ ready_order.daily_number }}
            </span>
                    {# {{ ready_order.servery }}#}
                </div>
            {% empty %}
            {% endfor %}
        </div>
    {% endif %}
</div>
