{% extends 'shaw_queue/base.html' %}
{% block aditional_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'queue/jquery.datetimepicker.min.css' %}>
    <script type="text/javascript" src="{% static 'js/statistics_handlers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.full.js' %}"></script>
    <script type="text/javascript">
        var interface_button = $("#records_statistics_interface");
    </script>
{% endblock %}
{% block content %}
    {% load tz %}
    <input hidden id="urls" data-update-statistics-url="{% url 'update_records_statistics' %}">
    <div class="stat-controls">
        <label for="datetimepicker1">От:</label>
        <input type="text" id="datetimepicker1"/>
        <label for="datetimepicker2">До:</label>
        <input type="text" id="datetimepicker2"/>
        <button onclick="UpdateStatistics()">Обновить</button>
    </div>
    <div id="statistics-content">
        <div class="stat-sect-container">
            Всего звонков: {{ total_calls }}
            <div class="stat-cook-table-header">
                <div class="stat-opinion-order-datetime">
                    Менеджер
                </div>
                <div class="stat-opinion-daily-number">
                    Клиент
                </div>
                <div class="stat-opinion-note">
                    Дата-время
                </div>
                <div class="stat-opinion-mark">
                    Запись
                </div>
            </div>
            {% for staff_records in records_info %}
                <div class="stat-view-container">
                    <div class="pause-cook-section">
                        {{ staff_records.call_manager }}
                    </div>
                    {% for record in staff_records.records %}
                        <div class="stat-view" id="call-{{ forloop.counter }}">
                            <div class="stat-opinion-order-datetime">
                                №{{ forloop.counter }} {{ record.call_manager }}
                            </div>
                            <div class="stat-opinion-daily-number">
                                {{ record.customer }}
                            </div>
                            <div class="stat-opinion-note">
                                {{ record.timepoint|timezone:'Asia/Yekaterinburg' }}
                            </div>
                            <div class="stat-opinion-mark">
                                <audio controls id="speaker-0">
                                    <source src="{{ record.record_url}}" type="audio/ogg">
                                </audio>
                            </div>
                        </div>
                    {% empty %}
                        There is no call records.
                    {% endfor %}
                    <div class="pause-total-section">
                        Total: {{ staff_records.total_duration.duration }}
                    </div>
                </div>
            {% empty %}
                No cooks.
            {% endfor %}
            <div class="stat-actions-container">
                <button onclick="UpdateStatistics()">Обновить</button>
            </div>
        </div>

    </div>
{% endblock %}
