<div class="order-block-container">
    <div class="order-block shadowed">
        <div class="cook-order-block-header" onclick="SelectOrder({{ cooks_order.order.id }})">
            <div class="cook-order-number
{% if cooks_order.order.is_preorder %}
                              {% if cooks_order.order.content_completed %}
                                preorder_ready
                            {% else %}
                                alert-background
                            {% endif %}
{% else %}
                {% if cooks_order.order.content_completed %}
                    ready
                {% else %}
                    {% if cooks_order.order.start_shawarma_preparation and not cooks_order.order.start_shawarma_cooking %}
                        start_preparation
                    {% elif cooks_order.order.is_grilling %}
                        grilling
                    {% endif %}
                {% endif %}
            {% endif %}"
                 onclick="SelectOrder({{ cooks_order.order.id }})">
                {% if cooks_order.order.delivery_daily_number %}<span style="font-size: 70%">№ Д{{ cooks_order.order.delivery_daily_number }}</span>{% else %}№ {{ cooks_order.order.display_number }}{% endif %}
            </div>
            <div class="cook-order-cook-part
                {% if cooks_order.order.is_preorder %}
                               alert-background
{% else %}
                {% if cooks_order.order.content_completed %}
                    ready
                {% else %}
                    {% if cooks_order.order.start_shawarma_preparation and not cooks_order.order.start_shawarma_cooking %}
                        start_preparation
                    {% elif cooks_order.order.is_grilling %}
                        grilling
                    {% endif %}
                {% endif %}
            {% endif %}"
                 onclick="SelectOrder({{ cooks_order.order.id }})">
                ({{ cooks_order.cook_content_count }})
            </div>
        </div>
        {#        <div class="cook-order-block__button">&#10004</div> del me#}
    </div>
</div>
