<div id="cooks-info-content">
    <div class="stat-sect-container">
        <div class="stat-cook-table-header">
            <div class="stat-opinion-order-datetime">
                Повар
            </div>
            <div class="stat-opinion-order-datetime">
                Количество шаурмы
            </div>
        </div>
        {% for item in items %}
            <div class="stat-view-container">
                <div class="stat-view" id="call-{{ forloop.counter }}">
                    <div class="stat-opinion-order-datetime">
                        {{ item.cook_name }}
                    </div>
                    <div class="stat-opinion-order-datetime">
                        {{ item.content_count.count }}
                    </div>
                </div>
            </div>
        {% empty %}
            Нет доступных поваров.
        {% endfor %}
    </div>
</div>