<div class="delivery-block-container shadowed {% if delivery_order.enlight_alert %} alert-aura {% elif delivery_order.enlight_warning %} warning-aura {% endif %}"
     draggable="true" title="Advise text.">
    <div class="delivery-block-header"
         onclick="CreateDeliveryOrder({{ delivery_order.order.pk }},{{ delivery_order.order.customer.pk }})">Заказ
        №{{ delivery_order.order.daily_number }}/{{ delivery_order.order.order.daily_number }}
        {% if delivery_order.show_date %}{{ delivery_order.order.obtain_timepoint|date:"SHORT_DATE_FORMAT" }}
            - {{ delivery_order.order.delivered_timepoint|date:"SHORT_DATE_FORMAT" }}{% endif %}
        {% if delivery_order.order.order.with_shawarma %}
            <div class="shawarma-indicator {% if delivery_order.order.order.content_completed %}
                                                ready
                                        {% else %}
                                            {% if delivery_order.order.order.is_grilling %}
                                                inGrill
                                            {% endif %}
                                        {% endif %}"
                 title="Индикатор готовности шаурмы {% if delivery_order.order.order.content_completed %}: Готово


                     {% else %}{% if delivery_order.order.order.is_grilling %}: Жарится{% endif %}{% endif %}"></div>{% endif %}
        {% if delivery_order.order.order.with_shashlyk %}
            <div class="shashlyk-indicator {% if delivery_order.order.order.shashlyk_completed %}
                                                ready
                                        {% else %}
                                            {% if delivery_order.order.order.is_grilling_shash %}
                                                inGrill
                                            {% endif %}
                                        {% endif %}"
                 title="Индикатор готовности шашлыка {% if delivery_order.order.order.shashlyk_completed %}: Готово


                     {% else %}{% if delivery_order.order.order.is_grilling_shash %}: Жарится{% endif %}{% endif %}"></div>{% endif %}
    </div>
    <div onclick="window.open(&quot{% url 'order_content' delivery_order.order.order.id %}&quot,&quot mywindow&quot);"
         style="cursor: pointer;">
        <div class="delivery-block-content">Рейс: {{ delivery_order.order.delivery }}</div>
        <div class="delivery-block-content">Адрес: {{ delivery_order.order.address }}</div>
        <div class="delivery-block-content">Время: {{ delivery_order.order.delivered_timepoint|time:"H:i" }}</div>
    </div>
    <div class="delivery-block-actions">
        <button class="small-btn success" title="Закончить заказ"
                {% if not delivery_order.order.order.content_completed or not delivery_order.order.order.shashlyk_completed %}
                disabled {% endif %}
                onclick="FinishDeliveryOrder({{ delivery_order.order.pk }}, {% if delivery_order.order.order.is_paid %}1{% else %}0{% endif %})">
            &#10003;
        </button>
        <div class="dropdown">
            {% if delivery_order.order.order.content_completed and delivery_order.order.order.shashlyk_completed and delivery_order.order.order.supplement_completed %}
                {% if delivery_order.order.is_ready %}
                    <button class="small-btn warning" title="Пометить заказ, как не готовый к отправке."
                            {% comment %}{% if not delivery_order.order.order.content_completed or not delivery_order.order.order.shashlyk_completed or not delivery_order.order.order.supplement_completed %}
                            disabled
                            {% endif %}{% endcomment %}
                            onclick="DeliverDeliveryOrder({{ delivery_order.order.pk }})">
                        Не готов
                    </button>
                {% else %}
                    <button class="small-btn warning" title="Пометить заказ, как готовый к отправке."
                            {% if not delivery_order.order.order.content_completed or not delivery_order.order.order.shashlyk_completed or not delivery_order.order.order.supplement_completed %}
                            disabled
                            {% endif %}
                            onclick="CheckDeliveryOrder({{ delivery_order.order.pk }})">
                        {% if not delivery_order.order.delivery %}
                            Отдать
                        {% else %}
                            Отправить
                        {% endif %}
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'order_content' delivery_order.order.order.id %}" target="_blank">
                            Подробности
                        </a>
                        <a onclick="PrintDeliveryOrder({{ delivery_order.order.id }})">
                            Печать
                        </a>
                    </div>
                {% endif %}
            {% else %}
                <button class="small-btn warning" {% if not delivery_order.order.order %} disabled {% endif %}>
                    Готовить
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'order_content' delivery_order.order.order.id %}" target="_blank">
                        Подробности
                    </a>
                    <a onclick="PrintDeliveryOrder({{ delivery_order.order.id }})">
                        Печать
                    </a>
                    {% if delivery_order.order.order.prepared_by %}
                        {% if not delivery_order.order.order.content_completed %}
                            <a onclick="ChangeCook({{ delivery_order.order.pk }})"
                               title="Отвязать заказ от текущего повара">
                                Сменить повара
                            </a>
                            {% if delivery_order.order.order.with_shawarma %}
                                {% if not delivery_order.order.order.start_shawarma_cooking %}
                                    {% if delivery_order.order.order.start_shawarma_preparation %}
                                        <p>Шаурма:</p>
                                        <a onclick="StartShawarmaCooking({{ delivery_order.order.order.pk }})">
                                            Начать готовить шаурму
                                        </a>
                                    {% else %}
                                        <p>Шаурма:</p>
                                        <a onclick="StartShawarmaPreparation({{ delivery_order.order.order.pk }})">
                                            Начать собирать шаурму
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if delivery_order.available_cooks|length_is:"1" %}
                            {% for available_cook in delivery_order.available_cooks %}
                                <a onclick="StartAllCooking({{ available_cook.pk }}, {{ delivery_order.order.pk }},{{ delivery_order.order.order.pk }})"
                                   title="Заказ будет назначен повару {{ available_cook }}">
                                    Готовить всё
                                </a>
                            {% empty %}
                                Нет доступных поваров.
                            {% endfor %}
                        {% endif %}

                        {% if delivery_order.order.order.with_shawarma %}
                            <p>Повара:</p>
                            {% for available_cook in delivery_order.available_cooks %}
                                <a onclick="SelectCook({{ available_cook.pk }}, {{ delivery_order.order.pk }})"
                                   title="Назначить заказ повару {{ available_cook }}">
                                    {{ available_cook }}
                                </a>
                            {% empty %}
                                Нет доступных поваров.
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    {% if delivery_order.order.order.with_shashlyk and not delivery_order.order.order.shashlyk_completed %}
                        {% if not delivery_order.order.order.is_grilling_shash %}
                            <p>Шашлык:</p>
                            <a onclick="StartShashlykCooking({{ delivery_order.order.order.pk }})">
                                Начать готовить шашлык
                            </a>
                        {% else %}
                            <p>Шашлык:</p>
                            <a onclick="FinishShashlykCooking({{ delivery_order.order.order.pk }})">
                                Закончить готовить шашлык
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <button class="small-btn danger" title="Отменить заказ"
                onclick="CancelDeliveryOrder({{ delivery_order.order.pk }})">
            &times;
        </button>
    </div>
</div>
