{% block content %}
    {#    <head>#}
    {#        <meta charset="utf-8">#}
    {#        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
    {#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"#}
    {#              integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"#}
    {#              crossorigin="anonymous">#}
    {#        <title>Simple is Better Than Complex</title>#}
    {#    </head>#}
    <div class="modal-content" id="modal-delivery-order-create">
        <span class="close" id="close-modal-delivery-order">&times;</span>
        <form id="delivery-order-form" method="post" action="{% url 'delivery-order-ajax' %}"
              object-pk="{{ object_pk }}">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% for coordinate in coordinates %}
                <input hidden service_point_id="{{ coordinate.service_point_id }}" latitude="{{ coordinate.latitude }}"
                       longitude="{{ coordinate.longitude }}" address="{{ coordinate.address }}">
            {% endfor %}


            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="customer_display">Клиент:</label>
                <input id="customer_display" class="form-control" type="text" value="{{ customer_display }}" disabled>
            </div>

            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% if field.auto_id == "id_address" %}
                        <div>
                            <button type="button" class="small-btn info"
                                    onclick="SetAddressFieldValue('{{ sellpointAddress }}')">Самовывоз
                            </button>
                            <div id="coordinates" style="display: contents;"></div>
                        </div>
                    {% endif %}

                    {% if form.is_bound %}
                        {% if field.errors %}
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% else %}
                        {{ field }}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}

            {#            <button type="submit" class="btn btn-primary">Submit</button>#}
            <button id="btn-save-delivery-order" type="submit" class="btn info">Сохранить</button>
            {% if delivery_order.order %}
                <button id="btn_edit_order" class="btn info" onclick="EditOrder({{ delivery_order.order.id }})">
                    Редактировать заказ
                </button>
            {% else %}
                <button id="btn_show_menu" class="btn info" onclick="ShowMenu()">Создать заказ</button>
            {% endif %}
        </form>
    </div>
{% endblock %}