{% block content %}
    {#    <head>#}
    {#        <meta charset="utf-8">#}
    {#        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
    {#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"#}
    {#              integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"#}
    {#              crossorigin="anonymous">#}
    {#        <title>Simple is Better Than Complex</title>#}
    {#    </head>#}
    <div class="modal-content" id="modal-delivery-order-create">
        <span class="close" id="close-modal-delivery-order">&times;</span>
        <div class="customer-form-container">
            <form id="incoming-call-form" method="post" action="{% url 'incoming-call' %}"
                  customer-pk="{{ customer_pk }}">
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}

                        {% if form.is_bound %}
                            {% if field.errors %}
                                {{ field }}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% else %}
                            {{ field }}
                        {% endif %}

                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn info">Сохранить</button>
                {% if customer_pk %}
                    <button id="btn_create_delivery_order" class="btn info" onclick="CreateDeliveryOrder(-1, {{ customer_pk }}, -1, -1);">Создать заказ
                    </button>
                {% endif %}
            </form>
            {#            <button class="btn btn-primary" {% if not form.is_valid %}#}
            {#                    disabled#}
            {#            {% endif %} {% if not form.is_bound %}#}
            {#                    hidden#}
            {#            {% endif %}>Создать доставку#}
            {#            </button>#}
            {#        <button class="btn btn-primary" onclick="ShowMenu(1)">Создать заказ#}
            {#        </button>#}
        </div>
        {% if customer_pk %}
            <div class="last-orders-container">
                {% for customer_order in customer_orders %}
                    <div class="order-preview-container" onclick="window.open(&quot{% url 'order_content' customer_order.delivery_order.order.id %}&quot,&quot mywindow&quot);" style="cursor: pointer;">
                        <h4>Заказ: {{ customer_order.delivery_order.obtain_timepoint }}</h4>
                        <p>Адрес: {{ customer_order.delivery_order.address }}</p>
                        <ul>
                            {% for item in customer_order.content %}
                                <li>
                                    {{ item.menu_item }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
