{% extends "shaw_queue/base.html" %}
<title>Меню</title>

{% block content %}
    {% load static %}
    <input hidden id="menu-urls" data-status-refresh-url="{% url 'status_refresh' %}"
           data-search-comment="{% url 'search_comment' %}"/>
    <div class="modal" id="modal-status">
        <div class="modal-content">
            {#            <span class="close" id="close-modal-status">&times;</span>#}
            <div class="loader-container" id="loader-container">
                <div class="loader" id="loading-indicator"></div>
            </div>
            <p class="status-display" id="status-display">
                Статус...
            </p>
            <p class="modal-cash-input-container">
                <label for="order-change" class="modal-label" id="order-change-label" hidden>Наличные</label>
                <input type="text" value="" class="modal-quantity-input" id="order-change"
                       onclick="this.setSelectionRange(0, this.value.length)" onkeyup="CalculateChange()" hidden>
            </p>
            <p class="status-display" id="change-display" hidden>
                Сдача...
            </p>
            <p class="modal-buttons-container">
                <button class="btn success" id="status-OK-button" onclick="OKHandeler()">OK</button>
                <button class="btn danger" id="status-cancel-button" onclick="CancelHandler()">Отмена</button>
                <button class="btn warning" id="status-retry-button" onclick="RetryHandler()">Повторить</button>
                <button class="btn warning" id="status-retry-cash-button" onclick="RetryCashHandler()">Оплатить
                    наличными
                </button>
            </p>
        </div>
    </div>
    <div class="container" style="overflow-y: scroll; height: 1500px">
        <div class="new-menu__container">
            <div class="sidemenu">
                <div class="sidemenu__container">
                    {% for macro_product in macro_products %}
                        {% if macro_product.sideNumber == 1 %}
                            {% include "shaw_queue/sidemenu_button.html" %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="sidemenu__container">
                    {% for macro_product in macro_products %}
                        {% if macro_product.sideNumber == 2 %}
                            {% include "shaw_queue/sidemenu_button.html" %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="sidemenu__container">
                    {% for macro_product in macro_products %}
                        {% if macro_product.sideNumber == 3 %}
                            {% include "shaw_queue/sidemenu_button.html" %}
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
            <div class="pad-menu-container">
                {% include "shaw_queue/pad_menu_block.html" with collection=macro_products top="top" previous="top" current="top" pk='' %}
                {% for macro_product in macro_products %}
                    {% include "shaw_queue/pad_menu_block.html" with collection=macro_product.content_options top="top" previous="top" current=macro_product.id obj=macro_product %}
                    {% for content_option in macro_product.content_options %}
                        {% include "shaw_queue/pad_menu_block.html" with collection=content_option.size_options top="top" previous=macro_product.id current=content_option.id obj=content_option %}
                        {% for size_option in content_option.size_options %}
                            {% include "shaw_queue/pad_menu_block.html" with collection=size_option.product_options top="top" previous=content_option.id current=size_option.id product_variant=size_option.product_variant obj=size_option %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                <div class="pad-menu__note-container">
                    <label for="item-note" class="modal-label">Комментарий</label>
                    <input type="text" value="" class="live-search-box" id="item-note">
                    <div id="dropdown-list-container"></div>
                </div>
            </div>
            <div class="new-menu__rightside">
                <div class="new-menu__actions">
                    <button type="button" class="subm small-btn success" data-send-url="{% url 'make_order' %}"
                            onclick="SendOrder()">
                        Принять
                    </button>
                    <div class="shadowed">
                        <p>
                            <input type="radio" id="not_paid" checked value="not_paid" name="payment_choose">
                            <label for="not_paid">Не Оплачен</label>
                        </p>
                        <p>
                            <input type="radio" id="paid_with_cash" value="paid_with_cash" name="payment_choose">
                            <label for="paid_with_cash">Наличные</label>
                        </p>
                        <p>
                            <input type="radio" id="paid_without_cash" value="paid_without_cash" name="payment_choose">
                            <label for="paid_without_cash">Безналичный</label>
                        </p>
                        <p>
                            <input type="radio" id="paid_with_sms" value="paid_with_sms" name="payment_choose" onchange="smsPay()">
                            <label for="paid_with_sms">Оплата по СМС</label>
                            <br>
                        <div id="smsPay" hidden="hidden">
                            <input type="tel" title="Телефон" placeholder="*Телефон" id="phone2">
                            <button style="padding: 5px" class="form_button" onclick="SMS2()" title="отправить СМС">
                                📩
                            </button>
                        </div>
                        </p>
                    </div>
                    <div class="shadowed">
                        <p>
                            <input type="radio" id="cook_auto" checked name="cook_choose" value="auto">
                            <label for="cook_auto">Автоназначение</label>
                        </p>
                        {% for available_cooker in available_cookers %}
                            <p>
                                <input type="radio" id="cook_{{ available_cooker.id }}" name="cook_choose"
                                       value="{{ available_cooker.id }}">
                                <label for="cook_{{ available_cooker.id }}">{{ available_cooker.user.first_name }} {{ available_cooker.user.last_name }}</label>
                            </p>
                        {% endfor %}
                    </div>
                    <div class="shadowed">
                        <p>
                            <input type="radio" id="discount_5" name="discount" value="5">
                            <label for="discount_5">Скидка 5%</label>
                        </p>
                        <p>
                        <input type="radio" id="discount_8" name="discount" value="8">
                        <label for="discount_8">Скидка 8%</label>
                    </p>
                        <p>
                            <input type="radio" id="discount_10" name="discount" value="10">
                            <label for="discount_10">Скидка 10%</label>
                        </p>
                        <p>
                            <input type="radio" id="discount_15" name="discount" value="15">
                            <label for="discount_15">Скидка 15%</label>
                        </p>
                        <p>
                            <input type="checkbox" id="preorder" name="preorder_checkbox" value="1">
                            <label for="preorder_checkbox">Предзаказ</label>
                        </p>
                    </div>
                </div>
                <div class="new-menu__info"><span>Заказ:</span><span id="total-display"></span></div>
                <div class="new-menu__basket">
                    {#                    <div class="new-menu__basket-item">#}
                    {#                        <div class="new-menu__basket-title"><span>{% lorem %}</span><span>x5</span><span>1000 p.</span>#}
                    {#                            <button class="small-btn danger">-1</button>#}
                    {#                        </div>#}
                    {#                        <div class="new-menu__basket-toppings">#}
                    {#                            <div class="new-menu__basket-topping">#}
                    {#                                <span>{% lorem %}</span><span>1000 p.</span>#}
                    {#                                <button class="small-btn danger">-1</button>#}
                    {#                            </div>#}
                    {#                            <div class="new-menu__basket-topping">#}
                    {#                                <span>{% lorem %}</span><span>1000 p.</span>#}
                    {#                                <button class="small-btn danger">-1</button>#}
                    {#                            </div>#}
                    {#                            <div class="new-menu__basket-topping">#}
                    {#                                <span>{% lorem %}</span><span>1000 p.</span>#}
                    {#                                <button class="small-btn danger">-1</button>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <div class="new-menu__basket-item">#}
                    {#                        <div class="new-menu__basket-title"><span>{% lorem %}</span><span>x1</span><span>1000 p.</span>#}
                    {#                            <button class="small-btn danger">-1</button>#}
                    {#                        </div>#}
                    {#                        <div class="new-menu__basket-toppings">#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <div class="new-menu__basket-item">#}
                    {#                        <div class="new-menu__basket-title"><span>{% lorem %}</span><span>x3</span><span>1000 p.</span>#}
                    {#                            <button class="small-btn danger">-1</button>#}
                    {#                        </div>#}
                    {#                        <div class="new-menu__basket-toppings">#}
                    {#                            <div class="new-menu__basket-topping">#}
                    {#                                <span>{% lorem %}</span><span>1000 p.</span>#}
                    {#                                <button class="small-btn danger">-1</button>#}
                    {#                            </div>#}
                    {#                            <div class="new-menu__basket-topping">#}
                    {#                                <span>{% lorem %}</span><span>1000 p.</span>#}
                    {#                                <button class="small-btn danger">-1</button>#}
                    {#                            </div>#}
                    {#                            <div class="new-menu__basket-topping">#}
                    {#                                <span>{% lorem %}</span><span>1000 p.</span>#}
                    {#                                <button class="small-btn danger">-1</button>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block aditional_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'queue/pad_menu_style.css' %}">
    <script type="text/javascript" src="{% static 'js/pad_menu_handlers.js' %}"></script>
{% endblock %}