<div id="statistics-content">
    <div class="stat-cook-table-header">
        <div class="stat-not-paid-table-cell">
            Номер заказа
        </div>
        <div class="stat-not-paid-table-cell">
            Время открытия
        </div>
        <div class="stat-not-paid-table-cell">
            Время закрытия
        </div>
        <div class="stat-not-paid-table-cell">
            Доставка
        </div>
        <div class="stat-not-paid-table-cell">
            Сумма
        </div>
        <div class="stat-not-paid-table-cell">
            С учетом скидки
        </div>
        <div class="stat-not-paid-table-cell">
            Точка обслуживания
        </div>
        <div class="stat-not-paid-table-cell">
            Касса
        </div>
    </div>
    {% for order in not_paid_orders %}
        <div class="stat-view-container">
            <div class="stat-view" id="person-prod-cooked">
                <div class="stat-not-paid-table-cell">
                    {{ order.daily_number }}
                </div>
                <div class="stat-not-paid-table-cell">
                    {{ order.open_time }}
                </div>
                <div class="stat-not-paid-table-cell">
                    {{ order.close_time }}
                </div>
                <div class="stat-not-paid-table-cell">
                    {% if order.is_delivery %}
                        Да
                    {% else %}
                        Нет
                    {% endif %}
                </div>
                <div class="stat-not-paid-table-cell">
                    {{ order.total }}
                </div>
                <div class="stat-not-paid-table-cell">
                    {{ order.discounted_total }}
                </div>
                <div class="stat-not-paid-table-cell">
                    {{ order.service_point }}
                </div>
                <div class="stat-not-paid-table-cell">
                    {{ order.servery }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>