<div class="stat-sect-container">
    Всего заказов: {{ total_opinions }}
    Мин. оценка: {{ min_mark }}
    Ср. оценка: {{ avg_mark }}
    Макс. оценка: {{ max_mark }}
    <div class="stat-cook-table-header">
        <div class="stat-opinion-order-datetime">
            Дата и время
        </div>
        <div class="stat-opinion-daily-number">
            Номер заказа
        </div>
        <div class="stat-opinion-note">
            Отзыв
        </div>
        <div class="stat-opinion-mark">
            Оценка
        </div>
    </div>
    {% for opinion in opinions %}
        <div class="stat-view-container">
            <div class="stat-view" id="person-prod-cooked">
                <div class="stat-opinion-order-datetime">
                    {{ opinion.order.open_time }}
                </div>
                <div class="stat-opinion-daily-number">
                    {{ opinion.order.daily_number }}
                </div>
                <div class="stat-opinion-note">
                    {% if opinion.note %}
                        {{ opinion.note }}
                    {% else %}
                        -
                    {% endif %}
                </div>
                <div class="stat-opinion-mark">
                    {{ opinion.mark }}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="stat-actions-container">
        <button onclick="UpdateStatistics()">Обновить</button>
    </div>
</div>