<div class="pad-menu__block" id="{{ current|slugify }}">
    {% if current != "top" %}
        <div style="margin: 10px; overflow-x: scroll; overflow-y: hidden; white-space: nowrap;"><span>http://shawarma.natruda{{ obj.item.get_admin_url }}</span></div>

        <a class="pad-menu__button"
           href="#{{ top|slugify }}" {% comment %}onclick="GoToSubmenu('{{ top|slugify }}')"{% endcomment %}
           onclick="ClearToppings()">Наверх</a>
        <a class="pad-menu__button"
           href="#{{ previous|slugify }}" {% comment %}onclick="GoToSubmenu('{{ previous|slugify }}')"{% endcomment %}
           onclick="ClearToppings()">Назад</a>
    {% endif %}
    {% for item in collection %}
        {% comment %}  {% if item.product_variant %}
            <div class="pad-menu__button"
                 onclick="AddToOrder({{ item.product_variant.menu_item.id }}, '{{ item.product_variant.menu_item.title }}', {{ item.product_variant.menu_item.price }})">{{ item.item.title }}</div>
        {% else %}{% endcomment %}
        {% if product_variant %}
            <div class="pad-menu__button" topping_id="{{ item.item.menu_item.id }}"
                 onclick="RegisterTopping({{ item.item.menu_item.id }}, '{{ item.item.title }}', {{ item.item.menu_item.price }})">
                {% if item.item.menu_item.icon %}
                    <img src="{{ item.item.menu_item.icon.url }}" alt="{{ item.item.menu_item.icon.url }}"/>
                {% else %}
                    <span>{% if item.item.menu_title %}{{ item.item.menu_title }}{% else %}{{ item.item.title }}{% endif %}</span>
                {% endif %} </div>
        {% else %}
            <a class="pad-menu__button"
               href="#{{ item.id|slugify }}"{% comment %}onclick="GoToSubmenu('{{ item.id|slugify }}')"{% endcomment %}>
                <span>{% if item.item.menu_title %}{{ item.item.menu_title }}{% else %}{{ item.item.title }}{% endif %}</span></a>
        {% endif %}
        {% comment %}{% endif %}{% endcomment %}
    {% endfor %}
    {% if product_variant %}
        <div class="pad-menu__button pad-menu__button_add"
             onclick="AddToOrder({{ product_variant.menu_item.id }}, '{{ product_variant.menu_item.title }}', {{ product_variant.menu_item.price }})">
            <span>+</span>
        </div>
    {% endif %}

</div>
