<div class="stat-sect-container">
    Всего заказов: {{ total_pauses }}
    Мин. продолжительность: {{ min_duration }}
    Ср. продолжительность: {{ avg_duration }}
    Макс. продолжительность: {{ max_duration }}
    <div class="stat-cook-table-header">
        <div class="stat-opinion-order-datetime">
            Повар
        </div>
        <div class="stat-opinion-daily-number">
            Начало
        </div>
        <div class="stat-opinion-note">
            Конец
        </div>
        <div class="stat-opinion-mark">
            Продолжительность
        </div>
    </div>
    {% for staff_pauses in pause_info %}
        <div class="stat-view-container">
            <div class="pause-cook-section">
                {{ staff_pauses.staff }}
            </div>
            {% for pause in staff_pauses.pauses %}
                <div class="stat-view" id="pause-{{ forloop.counter }}">
                    <div class="stat-opinion-order-datetime">
                        №{{ forloop.counter }} {{ pause.staff }}
                    </div>
                    <div class="stat-opinion-daily-number">
                        {{ pause.start_timestamp }}
                    </div>
                    <div class="stat-opinion-note">
                        {{ pause.start_timestamp }}
                    </div>
                    <div class="stat-opinion-mark">
                        {{ pause.duration }}
                    </div>
                </div>
            {% empty %}
                В выбранном периоде у повара нет пауз.
            {% endfor %}
            <div class="pause-total-section">
                Суммарная продолжительность пауз: {{ staff_pauses.total_duration.duration }}
            </div>
        </div>
    {% empty %}
        Отсутствуют повара.
    {% endfor %}

    <div class="stat-actions-container">
        <button onclick="UpdateStatistics()">Обновить</button>
    </div>
</div>
