<div class="cook-daily-number" order-id="{{ selected_order.id }}"> Заказ №{{ display_number }} </div>
{% for content_item in order_content %}
    <div class="cook-item-container">
        <div class="cook-order-item
        {% if content_item.item.finish_timestamp is not None %}
            in-grill-slot
        {% else %}
            {% if content_item.item.start_timestamp is not None %}
                in-progress-item
            {% endif %}
        {% endif %}" id="product_id_{{ content_item.item.id }}" onclick="
                {% if content_item.item.finish_timestamp is not None or not selected_order.start_shawarma_cooking %}

                {% else %}
                    {% if content_item.item.start_timestamp is not None %}
                        FinishItemCooking({{ content_item.item.id }})
                    {% else %}
                        ItemToGrill({{ content_item.item.id }})
                    {% endif %}
                {% endif %}">
            №{{ content_item.number }} {{ content_item.item.menu_item.title }} <p style="margin: 0px"><span
                class="cook-item-comment">{{ content_item.item.note }}</span></p>
        </div>
    </div>
{% empty %}
    <div class="cook-empty">
        Нет заказов.
    </div>
{% endfor %}
{% if staff_category.title == 'Shashlychnik' %}
    {% if order_content and not selected_order.shashlyk_completed %}
        <div class="cook-complete-all-button" onclick="
                {% if selected_order.is_grilling_shash %}
                    FinishAllContent({{ selected_order.id }})
                {% else %}
                    GrillAllContent({{ selected_order.id }})
                {% endif %}">
            {% if selected_order.is_grilling_shash %}
                Завершить всё
            {% else %}
                Жарить всё 1
            {% endif %}
        </div>
    {% endif %}
{% elif staff_category.title == 'Cook' %}
    {% if order_content and not selected_order.content_completed %}
        <div class="cook-complete-all-button"
                {% if not selected_order.start_shawarma_cooking %}
             style="background-color: #6e6e6e"
                {% else %}
             onclick="
                     {% if selected_order.is_grilling %}
                         FinishAllContent({{ selected_order.id }})
                     {% else %}
                         GrillAllContent({{ selected_order.id }})
                     {% endif %}"
                {% endif %}>
            {% if selected_order.start_shawarma_cooking %}
                {% if selected_order.is_grilling %}
                    Завершить всё
                {% else %}
                    Жарить всё 2
                {% endif %}
            {% else %}
                Соберите шаурму!
            {% endif %}
        </div>
    {% endif %}
{% elif staff_category.title == 'Burgerman' %}
    {#    {% if order_content and not selected_order.burger_completed %}#}
    {#        <div class="cook-complete-all-button" onclick="#}
    {#                {% if selected_order.is_grilling_burger %}#}
    {#                    FinishAllContent({{ selected_order.id }})#}
    {#                {% else %}#}
    {#                    GrillAllContent({{ selected_order.id }})#}
    {#                {% endif %}">#}
    {#            {% if selected_order.is_grilling_burger %}#}
    {#                Завершить всё#}
    {#            {% else %}#}
    {#                Жарить всё 3#}
    {#            {% endif %}#}
    {#        </div>#}
    {#    {% endif %}#}

{% elif staff_category.title == 'Barista' %}


    <div class="cook-complete-all-button" onclick="
        ">Завершить всё </div>


    {#    {% if order_content and not selected_order.burger_completed %}#}
    {#        <div class="cook-complete-all-button" onclick="#}
    {#                {% if selected_order.is_grilling_burger %}#}
    {#                    FinishAllContent({{ selected_order.id }})#}
    {#                {% else %}#}
    {#                    GrillAllContent({{ selected_order.id }})#}
    {#                {% endif %}">#}
    {#            {% if selected_order.is_grilling_burger %}#}
    {#                Завершить всё#}
    {#            {% else %}#}
    {#                Жарить всё 4#}
    {#            {% endif %}#}
    {#        </div>#}
    {#    {% endif %}#}
{% endif %}
