<div class="stat-sect-container">
    Всего заказов: {{ total_orders }}
    Отмененных заказов: {{ canceled_orders }}
    Мин. время выполнения: {{ min_prep_time }}
    Ср. время выполнения: {{ avg_prep_time }}
    Макс. время: {{ max_prep_time }}
    <div class="stat-sect-container">
        {% for servery_datum in serveries_data %}
            <p>{{ servery_datum.servery.title }}
                Наличными: {{ servery_datum.paid_with_cash_count }}
                Картой:{{ servery_datum.paid_without_cash_count }}
                Предзаказы:{{ servery_datum.preorder_count }}
                Неоплачено: {{ servery_datum.not_paid_count }}</p>
        {% endfor %}
    </div>
    <div class="stat-cook-table-header">
        <div class="stat-cook-name">
            Имя повара
        </div>
        <div class="stat-cook-table-cell">
            Количество заказов
        </div>
        <div class="stat-cook-table-cell">
            Количество продуктов
        </div>
        <div class="stat-cook-table-cell">
            Мин. время выполнения
        </div>
        <div class="stat-cook-table-cell">
            Ср. время выполнения
        </div>
        <div class="stat-cook-table-cell">
            Макс. время выполнения
        </div>
    </div>
    {% for cook in cooks %}
        <div class="stat-view-container">
            <div class="stat-view" id="person-prod-cooked">
                <div class="stat-cook-name">
                    {{ cook.person.user.first_name }} {{ cook.person.user.last_name }}
                </div>
                <div class="stat-cook-table-cell">
                    {{ cook.prepared_orders_count }}
                </div>
                <div class="stat-cook-table-cell">
                    {{ cook.prepared_products_count }}
                </div>
                <div class="stat-cook-table-cell">
                    {{ cook.min_prep_time }}
                </div>
                <div class="stat-cook-table-cell">
                    {{ cook.avg_prep_time }}
                </div>
                <div class="stat-cook-table-cell">
                    {{ cook.max_prep_time }}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="stat-actions-container">
        <button onclick="UpdateStatistics()">Обновить</button>
    </div>
</div>