<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

</head>
<body>
<div style="margin: 200px">
    <button onclick="addBtn()">добавить</button>
    <input tabindex="+1" oninput="addSymbol()" id="myText" style="width: 500px">
</div>



</body>


<script>
    let input = document.getElementById ("myText");
    let inputing = false;

    function checkInputing() {
        if (inputing) {
            input.value = rus_to_latin(input.value)
        } else {
            inputing = false;
        }
    }

    function addBtn() {
        $('#myText').focus()
        {#input.focus();#}
        input.value = '';
    }

    function addSymbol() {
        inputing = true;
        setTimeout(checkInputing, 2000);
    }

    function rus_to_latin (str) {
        var ru = {
            'й': 'q', 'ц': 'w', 'у': 'e', 'к': 'r', 'е': 't', 'н': 'y', 'г': 'u', 'ш': 'i', 'щ': 'o', 'з': 'p', 'х': '[', 'ъ': ']', 'ф': 'a', 'ы': 's', 'в': 'd', 'а': 'f', 'п': 'g', 'р': 'h', 'о': 'j', 'л': 'k', 'д': 'l', 'ж': ';', 'э': "'", 'я': 'z', 'ч': 'x', 'с': 'c', 'м': 'v', 'и': 'b', 'т': 'n', 'ь': 'm', 'б': ',', 'ю': '.', '.': '/',
            'Й': 'Q', 'Ц': 'W', 'У': 'E', 'К': 'R', 'Е': 'T', 'Н': 'Y', 'Г': 'U', 'Ш': 'I', 'Щ': 'O', 'З': 'P', 'Х': '[', 'Ъ': ']', 'Ф': 'A', 'Ы': 'S', 'В': 'D', 'А': 'F', 'П': 'G', 'Р': 'H', 'О': 'J', 'Л': 'K', 'Д': 'L', 'Ж': ';', 'Э': "'", 'Я': 'Z', 'Ч': 'X', 'С': 'C', 'М': 'V', 'И': 'B', 'Т': 'N', 'Ь': 'M', 'Б': ',', 'Ю': '.',

        }, n_str = [];

        for ( var i = 0; i < str.length; ++i ) {
            n_str.push(
                ru[ str[i] ]
                || ru[ str[i].toLowerCase() ] == undefined && str[i]
                || ru[ str[i].toLowerCase() ].replace(/^(.)/, function ( match ) { return match.toUpperCase() })
            );
        }

        return n_str.join('');
    }



    $('#myText').keydown(function(e) {
        console.log(e.keyCode)
        if(e.keyCode === 9) {
            setTimeout(fuck, 50)
        }
    });

    function fuck() {$('#myText').focus();}
</script>
</html>



