.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 10px;
    height: 100%;
    overflow-y: hidden;
}

.new-menu__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.pad-menu-container {
    max-height: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.pad-menu__block {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    background: #f6f0f0;
    width: calc(400px + 0.8rem);
}

.pad-menu__block:target {
    display: flex;
}

.pad-menu__button {
    min-height: 75px;
    min-width: 75px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.94);
    border: solid 1px #D8D8D8;
    background-color: white;
    padding: 0.7rem;
    margin: 0.1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 0.5rem;
    word-wrap: break-word;
}

.pad-menu__button_enabled {
    background: #4CAF50;
    color: white;
}

.pad-menu__button_add {
    background: #FFF;
    color: #4caf50;
    border-color: #4caf50;
    border-width: 0.2rem;
    font-size: xx-large;
}

.pad-menu__button_add:hover, .pad-menu__button:hover {
    background: #65c168;
    color: #FFF;
    border-color: #4caf50;
}

.pad-menu__button_enabled:hover {
    background: #65c168;
    color: #FFF;
    border-color: #4caf50;
}

.pad-menu__button span {
    text-align: center;
}

.sidemenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 1000px;
    margin: 10px;
}

.sidemenu__container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    position: relative;
    /*margin: 2rem 0;*/
    width: 100%;
    max-height: 1000px;
    overflow-y: auto;
}

.sidemenu__container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f6f0f0;

}

.sidemenu__button {
    z-index: 49;
    padding: 0.5rem 1rem;
    display: flex;
    border: solid 1px #D8D8D8;
    background: white;
    min-height: 80px;
    /*max-height: 150px;*/
    max-width: 150px;
    overflow: hidden;
    border-radius: 15px;
}

.sidemenu__icon {
    flex: 0 0 50px;
}

.sidemenu__icon img {
    display: block;
    max-width: 100%;
}

.sidemenu__title {
    /*margin-left: -50px;*/
    padding: 0 0.1rem 0 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidemenu__category-title {

}

.sidemenu__subcategories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 230px;
    overflow-x: auto;
}

.sidemenu__subcategory:first-child {
    margin-left: 0;
}

.sidemenu__subcategory:nth-child(n+4) {
    display: none;
}

.sidemenu__subcategory:last-child {
    margin-right: 0;
}

.sidemenu__subcategory {
    color: #9c9c9c;
    margin: 0.25rem;
}


.new-menu__rightside {
    flex: 0 1 33.3%;
    display: flex;
    flex-direction: column;
}

.new-menu__actions {
    margin: 60px 10px 10px 10px;
}

.new-menu__info {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #D8D8D8;
    flex: 0 0 2rem;
    padding: 0.5rem calc(32px + 1.3rem) 0.5rem 1.3rem;
}

.new-menu__info span:last-of-type:before {
    content: "Сумма: ";
}

.new-menu__info span:last-of-type:after {
    content: "р.";
}

.new-menu__basket {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    overflow-y: auto;
}

.new-menu__basket-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    padding: 0.25rem 1rem;
    line-height: 2rem;
    border-bottom: solid 1px #D8D8D8;
}

.new-menu__basket-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 3rem;
    padding: 0.5rem 0;
    background: #e3ecf4;
}

.new-menu__basket-toppings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    padding: 0 0 0 1rem;
}

.new-menu__basket-topping {
    max-height: 3rem;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #D8D8D8;
}

.new-menu__basket-topping span:first-child:before {
    content: "―";
}

.new-menu__basket-title span, .new-menu__basket-topping span {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 1 100%;
    padding: 0 0.3rem;
}

.new-menu__basket-title span:not(:first-of-type), .new-menu__basket-topping span:not(:first-of-type) {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 0 auto;
}
