/* TODO: Rework CSS */

*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

ul {

}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* Indicators */

.shawarma-indicator {
    background-color: white;
    color: black;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 1px;
    right: 1px;
}

.shashlyk-indicator {
    border-radius: 50%;
    background-color: white;
    color: black;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 1px;
    right: 18px;
}

/* end Indicators */

/* Dropdown description*/

/* Style The Dropdown Button */

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.dropbtn {
    /*background-color: #4CAF50;*/
    background-color: #f9f9f9;
    /*color: white;*/
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.dropbtn > .badge {
    float: right;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    color: black;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-y: auto;
    /*max-height: 250px;*/
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
    background-color: #f1f1f1
}

/* Dropdowns description ended */

/* Collapsible description start */

.collapsible-btn {
    /*background-color: #4CAF50;*/
    background-color: #f9f9f9;
    /*color: white;*/
    color: black;
    padding: 16px;
    font-size: 16px;
    text-align: left;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    width: 100%;
}

.collapsible-btn > .badge {
    float: right;
}

.collapsible-btn:before {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: left;
    margin-right: 5px;
    margin-top: 2px;
}

.collapsible-active:before {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Collapsible Content (Hidden by Default) */
.collapsible-content {
    display: none;
    /*position: absolute;*/
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-y: auto;
    max-height: 250px;
}

/* Links inside the collapsible */
.collapsible-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of collapsible links on hover */
.collapsible-content a:hover {
    background-color: #f1f1f1
}

/* Collapsible description end */

/* Auras description start */
.success-aura {
    box-shadow: 0 0 15px 0 rgb(0, 255, 0) !important;
}

.warning-aura {
    box-shadow: 0 0 15px 0 rgb(255, 208, 27) !important;
}

.alert-aura {
    box-shadow: 0 0 15px 0 rgb(255, 0, 2) !important;
}

/* Auras description end */
table.currentOrderTable {
    width: 100%;
    border-spacing: 0px;
}

table.headerTable {
    width: 100%;
}

table.currentQueueTable {
    width: 100%;
}

td.currentOrderTitleCell {
    border-bottom: 1pt solid black;
    text-align: left;
    cursor: pointer;
}

td.currentOrderActionCell {
    border-bottom: 1pt solid black;
    text-align: center;
}

td.currentOrderTotalText {
    font-weight: bold;
    border-bottom: 1pt solid black;
    text-align: left;
}

td.currentOrderTotalFig {
    border-bottom: 1pt solid black;
    text-align: right;
}

td.itemMaker {
    border-bottom: 1pt solid black;
    text-align: center;
    column-span: 2;
}

td.item {
    border-bottom: 1pt solid black;
    text-align: left;
}

.fromSite {
    background-color: #69c1cd;
}

.inProduction {
    background-color: orange;
}

.inGrill {
    background-color: brown;
}

.ready {
    background-color: #7dcd69;
}

.preorder_ready {
    background: rgb(255, 113, 41);
    background: linear-gradient(90deg, rgba(125, 205, 105, 1) 0%, rgba(185, 163, 76, 1) 75%, rgba(255, 113, 41, 1) 100%);
}


.fromSite_inProduction {
    background: linear-gradient(90deg, orange 0%, rgb(105, 193, 205) 100%);
}

.fromSite_inGrill {
    background: linear-gradient(90deg, #a42a2a 0%, rgb(105, 193, 205) 100%);
}

.fromSite_ready {
    background: linear-gradient(90deg, #7ccc69 0%, rgb(105, 193, 205) 100%);
}

.fromSite_preorder_ready {
    background: linear-gradient(90deg, rgba(255, 113, 41, 1) 0%, rgba(125, 205, 105, 1) 50%, rgba(185, 163, 76, 1) 75%, rgb(105, 192, 204) 100%);
}

.fixed {
    position: fixed;
}

.shadowed {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.unpaid {
    box-shadow: 0 0 20px 0 rgba(168, 0, 2, 0.89);
}

a {
    color: #2f2f2f;
    text-decoration: none;
    cursor: pointer;
}

button {
    font-size: 16px;
}

button.subm {
    /*float: right;*/
}

input {
    font-size: small;
}

/*div {
    display: block;
    font-size: small;
}*/

div.company-emblem {
    width: 100%;
    height: 100px;
    font-size: 50px;
    line-height: 2;
    text-align: center;
}

div.welcome-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

p.welcome {
    font-size: xx-large;
    font-family: "Century Schoolbook L", cursive;
}

div.open-orders-container, div.ready-orders-container {
    width: 13%;
    height: 100%;
    float: left;
    border-right: solid 2px #D8D8D8;
    border-left: solid 2px #D8D8D8;
}

div.open-orders-container-vertical, div.ready-orders-container-vertical {
    width: 25%;
    height: 100%;
    float: left;
}

div.carousel-container {
    float: left;
    height: 100%;
    width: 73%;
}

div.open-order-display, div.ready-order-display {
    text-align: center;
    font-size: 65px;
    float: left;
    width: 100%;
    line-height: 1.4;
    border-top: solid 1px #D8D8D8;
    border-bottom: solid 1px #D8D8D8;
}

span.ready-order-display-number {
    color: #4cb445;
    font-weight: bold;
}

div.open-order-display {
    color: #000000;
}

div.ready-order-display {
    color: #4cb445;
}

div.order-div {
    width: 280px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    float: right;
    right: 0px;
}

div.order-div label {
    font-size: large;
}

div.ready-orders {
    width: 200px;
    height: 100%;
    float: left;
    border-left: solid 2px #D8D8D8;
    padding-top: 20px;
}

div.open-orders {
    width: calc(100% - 280px);
    height: 100%;
    float: left;
    padding: 1rem;
}

div.order-block-container {
    width: 280px;
    min-width: 180px;
    padding: 5px;
    float: left;
}

div.order-block {
    width: 95%;
    min-width: 160px;
    padding: 4px;
    border: solid 1px #D8D8D8;
    background: #F6F6F6;
    line-height: 20px;
}

div.order-block-header {
    line-height: 45px;
}

div.cook-order-block-header {
    height: 100px;
    line-height: 3;
}

div.order-number {
    width: 30%;
    float: left;
    font-size: large;
}

div.order-cook-part {
    width: 70%;
    float: left;
    text-align: right;
    font-size: large;
}

.cook-order-block__button {
    font-size: 2rem;
    line-height: 45px;
}

.order-block-actions {
    display: flex;
    width: 100%;
}

div.servery-title {
}

div.cook-order-number {
    width: 50%;
    float: left;
    font-size: xx-large;
}

div.cook-order-cook-part {
    width: 50%;
    float: left;
    text-align: right;
    font-size: xx-large;
}

div.order-cook-part a {
    display: block;
}

div.order-item {
    border-bottom: solid 1px #D8D8D8;
    border-top: solid 1px #D8D8D8;
}

div.order-item-title {
    border-bottom: solid 1px #D8D8D8;
    border-top: solid 1px #D8D8D8;
}

div.order-item-note {
    border-bottom: solid 1px #D8D8D8;
    border-top: solid 1px #D8D8D8;
}

div.order-total {
    position: relative;
    border-top: solid 1px #6e6e6e;
}

div.order-total-text {
    text-align: right;
}

div.page-content {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0px;
    right: 0px;
}

div.header-active {
    background-color: dodgerblue;
    box-shadow: inset 0 0 10px -1px rgba(0, 0, 0, 0.33);
    color: white;
}

div.header-div-container {
    border-bottom: solid 1px #D8D8D8;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    background: #F6F6F6;
    height: 60px;
    width: 100%;
    min-width: 750px;
    line-height: 60px;
    left: 0;
    top: 0 !important;
    z-index: 1090;
}

div.header-div {
    box-sizing: border-box;
    width: 100%;
    min-height: 40px;
    line-height: 60px;
    text-align: center;
    background-color: rgba(246, 246, 246, 0.63);
}

div.header-buttons {
    min-width: 100px;
    max-width: 33%;
    float: left;
    padding-left: 1px;
    padding-right: 1px;
    border-left: solid 1px #D8D8D8;
}

div.menu-header-div-container {
    position: relative;
    border-bottom: solid 1px #D8D8D8;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    background: #F6F6F6;
    height: 60px;
    width: calc(100% - 180px);
    min-width: 400px;
    line-height: 60px;
    left: 0;
    top: 0 !important;
    z-index: 1000;

}

div.menu-header-div {
    box-sizing: border-box;
    width: 100%;
    /*min-height: 120px;*/
    line-height: 60px;
    text-align: center;
    background-color: rgba(246, 246, 246, 0.63);
}

div.menu-header-buttons {
    min-width: 50px;
    max-width: 33%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    border-left: solid 1px #D8D8D8;
    border-right: solid 1px #D8D8D8;
    border-bottom: solid 1px #D8D8D8;
    cursor: pointer;
    font-size: large;
}

div.header-who-logged {
    min-height: 10px;
    min-width: 200px;
    float: left;
    text-align: center;
    border-left: solid 1px #D8D8D8;
}

div.menu-div {
    width: calc(100% - 294px);
    min-width: 265px;
    top: 0;
    left: 0;
    float: left;
    background-color: rgba(246, 246, 246, 0.63);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

div.menu-item-container {

}

div.menu-content, div.menu-item-details, div.menu-item-note {
    width: 100%;
}

div.menu-item-details {
    position: relative;
    height: 100%;
}

div.menu-content {
    display: flex;
    flex-direction: column;
}

div.menu-item {
    margin: 5px;
    padding: 7px;
    width: 140px;
    height: 70px;
    border: solid 1px #D8D8D8;
    background: #F6F6F6;
    float: left;
    cursor: pointer;
    position: relative;
}

div.menu-item-title, div.menu-item-price, div.menu-item-actions {
    float: top;
}

div.menu-item-title {
    width: 100%;
    font-size: large;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 70px;
}

div.menu-item-title:hover {
    overflow: visible;
}

div.menu-item-price {
    min-width: 55px;
    text-align: right;
    font-size: large;
    color: darkred;
    position: absolute;
    bottom: -7px;
    right: 0px;
    background-color: #F6F6F6;
}

div.menu-item-note {
    width: 100%;
}

div.menu-item-actions {
    width: 100%;
    text-align: right;
}

div.next-to-prepare-container {
    width: 90%;
    height: 25%;
    padding: 5%;
    background-color: #7dcd69;
    box-shadow: inset 0px 0px 50px 3px rgba(0, 0, 0, 0.5);
}

div.next-to-prepare-item {
    width: 100%;
    height: 100%;
    font-size: 400%;
    text-align: center;
    background-color: #4cb445;
    box-shadow: 0px 0px 50px 3px rgba(0, 0, 0, 0.5);
}

div.in-progress-container {
    width: 90%;
    height: 25%;
    line-height: 100%;
    padding: 5%;
    background-color: #cdcb56;
    box-shadow: inset 0px 0px 50px 3px rgba(0, 0, 0, 0.5);
}

div.in-grill-container {
    width: 100%;
    height: 50%;
    min-height: 82px;
    background-color: #fd5352;
}

div.in-grill-slot-container {
    width: calc(50% - 12px);
    height: 35%;
    min-height: 70px;
    padding: 5px;
    float: left;
    border: solid 1px #D8D8D8;
    line-height: 1;
}

div.grill-title-container {
    width: 100%;
    height: 60%;
}

div.grill-timer-container {
    width: 100%;
    height: 40%;
}

div.item-title {
    width: 100%;
    height: 70%;
    line-height: 2;
    font-size: 150%;
}

div.item-note {
    width: 100%;
    height: 30%;
    line-height: 1;
    font-size: 100%;
}

div.order-item-container {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-top: solid 1px #D8D8D8;
    border-bottom: solid 1px #D8D8D8;
}

div.order-started {
    box-shadow: 0 0 4px 0 rgba(212, 119, 2, 0.5);
}

div.order-item-title, div.order-item-note, div.order-item-maker, div.order-item-actions {
    width: 20%;
    float: left;
    text-align: center;
    height: inherit;
}

div.order-item-title, div.order-item-note {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

div.order-item-title:hover, div.order-item-note:hover {
    overflow: visible;
}

.content-container {
    width: 600px;
    height: 378px;
    float: left;
}

.order-modal-content {
    margin: 5% auto !important;
    z-index: 1099 !important;
    height: 400px;
    width: -moz-fit-content !important;
    border-radius: 25px;
}

#content-part {
    float: left;
    display: grid !important;
}

.pagination {
    height: 42px;
    line-height: -moz-block-height;
    text-align: center;
    text-align: -moz-center;
}

.order-properties {
    width: 300px;
    float: left;
}

.order-item-title-modal {
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0px;
}

.order-item-note-modal {
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0px;
}

.item-title-container {
    width: 450px;
    height: 100%;
    float: left;
    cursor: pointer;
}

.item-quantity-container {
    float: left;
    width: 80px;
}

.item-controls-container {
    float: left;
    width: 70px;
    height: 100%;
    text-align: -moz-center;
    text-align: center;
}

span.item-span {
    display: inline-block;
    vertical-align: middle;
}

span.grill-timer {
    font-size: xx-large;
}

span.grill-title {
    font-size: xx-large;
}

input.quantityInput {
    /*width: 80px;*/
    /*font-size: 20px;*/

    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-color: rgba(0, 0, 0, 0.15);
    border-right-color: rgba(0, 0, 0, 0.15);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-left-color: rgba(0, 0, 0, 0.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input.quantityInput:focus {
    box-shadow: 0px 0px 12px 0px rgba(2, 124, 245, 0.85);
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
}

.quantityInput:disabled {
    border-color: #9c9c9c;
    color: #9c9c9c;
    cursor: not-allowed;
}

input.item-note {
    width: 100%;
}

.noteText {
    font-size: 16px;
    font-style: italic;
    color: blue;
    float: right;
}

.table-item-title {
    font-size: 16px;
    font-weight: normal;
}

.quantity-multiplyer {
    font-weight: 900;
    float: right;
}

img#shawarma-header {
    float: left;
    width: 100%;
    height: 150px;
}

div.login-form {
    font-size: xx-large;
}

div.login-form input {
    font-size: unset;
}

div.login-form button {
    font-size: larger;
}

div.cook-empty {
    font-size: xx-large;
}

div.cook-item-container {
    line-height: 1;
    min-height: 80px;
    border-bottom: solid 1px #D8D8D8;
    border-top: solid 1px #D8D8D8;
    font-size: 150%;
    cursor: pointer;
}

div.cook-order-item {
    background-color: #D8D8D8;
    font-size: xx-large;
}

div.in-progress-item {
    background-color: red;
    font-size: xx-large;
}

div.in-grill-slot {
    background-color: green;
    font-size: xx-large;
}

div.cook-daily-number {
    line-height: 80px;
    height: 80px;
    border-bottom: solid 1px #D8D8D8;
    border-top: solid 1px #D8D8D8;
    font-size: xx-large;
    text-align: center;
}

span.cook-item-comment {
    font-style: italic;
    color: blue;
    text-align: right;
}

div.cook-complete-all-button {
    line-height: 80px;
    height: 80px;
    text-align: center;
    background-color: blueviolet;
    border-bottom: solid 1px #D8D8D8;
    border-top: solid 1px #D8D8D8;
    font-size: xx-large;
    cursor: pointer;
}

div.cook-pause-button {
    line-height: 80px;
    height: 80px;
    text-align: center;
    border-bottom: solid 1px #D8D8D8;
    border-top: solid 1px #D8D8D8;
    font-size: xx-large;
    cursor: pointer;
}

div.cook-order-queue-display {
    width: 280px;
    height: 100%;
    float: left;
    border-left: solid 2px #D8D8D8;
    display: grid;
    grid-template-rows: minmax(700px,3fr) 1fr;
}


.taken-orders-container {
    border-bottom: solid 2px #D8D8D8;
    padding-bottom: 2rem;
    overflow-y: scroll;
}

.free-orders-container {
    border-top: solid 2px #D8D8D8;
    padding-top: 2rem;
    overflow-y: scroll;
}

.finished_orders_count_display {
    color: white;
    background-color: #ff7129 !important;
    height: 3rem;
    bottom: 0;
    right: 0;
    position: fixed;
    line-height: 3rem;
    border-radius: 0.5rem;
}
.finished_orders_count_display span{
    padding: 1rem;
}

div.selected-order-display {
    width: calc(100% - 280px);
    height: 100%;
    float: left;
}

div.grilling {
    background-color: #901515;
}

div.start_preparation {
    background-color: #ffd01b;
}

div.stat-sect-container {
    float: left;
    width: 100%;
    line-height: 60px;
    /*height: 60px;*/
    border-bottom: solid 2px #D8D8D8;
    border-top: solid 1px #D8D8D8;
    font-size: large;

}

div.stat-cook-name {
    min-width: 16%;
    font-size: larger;
    float: left;
    padding-left: 20px;
}

.alert-background {
    background-color: #ff7129 !important;
}

div.stat-cook-prepared-orders .stat-cook-prepared-products .stat-cook-avg-prep-times .stat-cook-max-prep-times .stat-cook-min-prep-times {
    min-width: 10%;
    width: 200px;
    max-width: 16%;
    font-size: larger;
    float: left;
    text-align: center;
}

div.stat-cook-table-cell {
    min-width: 10%;
    width: 16%;
    max-width: 25%;
    font-size: larger;
    float: left;
    text-align: center;
}

div.stat-cook-table-header {
    width: 100%;
    font-size: small;
    font-style: italic;
    display: inline-block;
    border-bottom: solid 1px #D8D8D8;
}

div.stat-view-container.stat-view {
    width: 100%;
    float: left;
}

div.stat-actions-container {
    width: 400px;
    height: 60px;
    float: right;
}

div.stat-not-paid-table-cell {
    min-width: 10%;
    width: 12%;
    max-width: 25%;
    font-size: larger;
    float: left;
    text-align: center;
}

div.stat-controls {
    width: 100%;
    height: 30px;
    float: left;
    font-size: large;
    padding: 20px;
}

#logout {
    cursor: pointer;
}

div.evaluation-note-block {
    width: 100%;
    height: 30%;
    padding: 1%;
    float: left;
}

div.evaluation-order-number-block {
    width: 100%;
    height: 10%;
    padding-top: 25px;
    float: left;
    text-align: center;
}

div.marks-block {
    width: 100%;
    height: 30%;
    float: left;
}

div.mark-block {
    width: 18%;
    height: 90%;
    float: left;
    text-align: center;
    border-bottom: solid 2px #D8D8D8;
    border-top: solid 1px #D8D8D8;
    line-height: 7;
    font-size: large;
    margin: 1%;
    background-color: #F6F6F6;
    box-shadow: inset 0 0 1px -1px rgba(0, 0, 0, 0.33);
}

div.chosen-mark-block {
    background-color: dodgerblue;
    box-shadow: inset 0 0 10px -1px rgba(0, 0, 0, 0.33);
    color: white;
}

textarea.evaluation-note-textarea {
    height: 49%;
    width: 98%;
}

textarea:-moz-placeholder {
    color: #333333;
}

input.evaluation-order-number-input {
    width: 30%;
}

div.evaluate-button {
    width: 98%;
    height: 49%;
    font-size: large;
    line-height: 3;
    text-align: center;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.33);
    border: solid 1px #D8D8D8;
}

div.stat-opinion-order-datetime {

    min-width: 10%;
    width: 15%;
    max-width: 25%;
    font-size: medium;
    float: left;
    text-align: center;
}

div.stat-opinion-daily-number {

    min-width: 10%;
    max-width: 25%;
    font-size: medium;
    float: left;
    text-align: center;
}

div.stat-opinion-note {

    min-width: 10%;
    width: 25%;
    max-width: 55%;
    font-size: medium;
    float: left;
    text-align: center;
    overflow-y: auto;
}

div.stat-opinion-mark {

    min-width: 10%;
    width: 10%;
    max-width: 25%;
    font-size: medium;
    float: left;
    text-align: center;
}

.live-search-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    background-color: #2c3e50;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.live-search-box {
    width: 100%;
    line-height: 2;
    font-size: 16px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #3498db;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.live-search-list li {
    color: #FFFFFF;
    list-style: none;
    padding: 0;
    margin: 5px 0;
}

.live-search-list-item {
    cursor: pointer;
}

.live-search-list-item:hover {
    color: #007fff;
}

div.filter-container {
    border-top: rgba(0, 0, 0, 0.5) solid 1px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.33);
}

.clickable {
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* auto - Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#modal-menu {
    z-index: 1150;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-title {
    font-size: 20px;
    font-style: oblique;
}

.modal-label {
    font-size: 16px;
}

.modal-quantity-input {
    font-size: 16px;
    line-height: 2;
}

.status-display {
    overflow: auto;
    text-align: center;
    text-align: -moz-center;
    font-size: 16px;
}

.modal-buttons-container {
    text-align: center;
    text-align: -moz-center;
}

.modal-cash-input-container {
    text-align: center;
    text-align: -moz-center;
}

.order-cash {
    font-size: 16px;
}

.btn {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.quick-comment-container {

}

.img-btn {
    padding: 0px;
    vertical-align: middle;
    border-color: darkgreen;
}

.img-btn:hover:enabled {
    background: #00dd1c;
}

.small-btn {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 4px 8px;
    font-size: 16px;
    cursor: pointer;
}

/* Green */
.success {
    border-color: #4CAF50;
    color: green;
}

.success:hover:enabled {
    background-color: #4CAF50;
    color: white;
}

.success:disabled {
    border-color: #9c9c9c;
    color: #9c9c9c;
    cursor: not-allowed;
}

/* Blue */
.info {
    border-color: #2196F3;
    color: dodgerblue
}

.info:hover:enabled {
    background: #2196F3;
    color: white;
}

.info:disabled {
    border-color: #9c9c9c;
    color: #9c9c9c;
    cursor: not-allowed;
}

/* Orange */
.warning {
    border-color: #ff9800;
    color: orange;
}

.warning:hover:enabled {
    background: #ff9800;
    color: white;
}

.warning:disabled {
    border-color: #9c9c9c;
    color: #9c9c9c;
    cursor: not-allowed;
}

/* Red */
.danger {
    border-color: #f44336;
    color: red
}

.danger:hover:enabled {
    background: #f44336;
    color: white;
}

.danger:disabled {
    border-color: #9c9c9c;
    color: #9c9c9c;
    cursor: not-allowed;
}

/* Gray */
.default {
    border-color: #e7e7e7;
    color: black;
}

.default:hover {
    background: #e7e7e7;
}

.small-btn_img {
    width: 100%;
}

.small-btn_img img {
    object-fit: fill;
    object-position: center;
}

#carousels {
    position: relative;
}

.carousel {
    position: absolute;
    opacity: 0;
    padding-left: 4px;
    transition: opacity 3s; /* Время появления картинки */
}

.carousel-image {
    width: 1416px;
    height: 1062px;
}

.demonstration {
    opacity: 1;
}

/*#delivery-left-column {
    height: 100%;
    width: 300px;
    float: left;
    box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.94);
    transition: display 0.3s;
}*/

.sidebar {
    width: 0px;
    min-width: 5rem;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.94);

    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;

    transition: all 0.3s ease 0s;
    background-color: white;
    z-index: 2;
}

.sidebar_left {
    left: 0;
}

.sidebar_right {
    right: 0;
}

.sidebar_open {
    width: 25rem;
    transition: all 0.3s ease 0s;
}

.sidebar__content {
    height: calc(100% - 50px);
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar__content > .btn, .sidebar__content .dropbtn, .sidebar__content .dropdown, form > .btn {
    width: 100%;
}

.sidebar__content > .dropdown > .dropdown-content {
    min-width: 250px;
}
.sidebar_left > .sidebar__content{
}
.sidebar_right > .sidebar__content{
}

.sidebar__close-btn{
    position: absolute;
    bottom: 0;
    left: 0;
}
.sidebar__open-btn{
    position: absolute;
    top: 0;
    width: 5rem;
    height: 100%;
}

.sidebar_right > .sidebar__open-btn{
    position: absolute;
    top: 0;
    left: 0;
}
.sidebar_left > .sidebar__open-btn{
    position: absolute;
    top: 0;
    right: 0;
}

.show {
    position: absolute;
    float: left;
}

/*#delivery-right-column {
    height: 100%;
    width: 300px;
    float: left;
    box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.94);
}*/

.delivery-workspace {
    background-color: #cccccc;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 180px);
    grid-template-rows: repeat(5, 140px);
    padding: 1rem 80px;
}

.opaque-container {
    padding: 5px;
    background-color: rgba(228, 228, 228, 0.51);
    width: -moz-fit-content;
    border-radius: 0px 0px 0px 5px;
    bottom: 0;
    right: 5rem;
    position: absolute;
    z-index: 1;
}

.section {

}

.section__title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: solid 1px #D8D8D8;
    font-size: larger;
}

.section__content {

}

.delivery-label {

}

.delivery-textbox {

}

.delivery-info-block {

}

.delivery-block-container {
    border: solid 1px #D8D8D8;
    background-color: white;
    width: 180px;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 134px;
    position: relative;
}

.delivery-block-header {
    background: #2196F3;
    color: white;
    border: solid 1px #D8D8D8;
    text-align: center;
    cursor: pointer;
    position: relative;
    min-height: 25px;
}

.delivery-block-content, .delivery-block-actions {
    text-align: center;
    height: 30px;
}

.delivery-block-actions {
    position: absolute;
    bottom: 0px;
    margin: auto;
    width: 100%;
}

.delivery-block-actions > .dropdown > .dropdown-content {
    min-width: 150px;
}

.delivery-block-content {
    overflow-x: auto;
}

.stat-view-container {
    width: 100%;
    font-size: medium;
    border: solid 1px #D8D8D8;
}

.stat-view {
    width: 100%;
    overflow-y: hidden;
    font-size: inherit;
}

.pause-total-section {
    width: 100%;
    font-size: inherit;
}

.pause-cook-section {
    border: solid 1px #D8D8D8;
    background-color: #6789A4;
    color: white;
    font-size: inherit;
}

.modal-menu {
    overflow-y: auto;
    max-height: 500px;
    min-height: 350px;
    margin: 5% auto;
}

#modal-delivery-order-create {
    width: -moz-fit-content;
    width: fit-content;
    max-height: 695px;
    overflow-y: auto;
    margin: 5% auto !important;
}

.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
    border-color: #28a745;
}

.custom-select.is-valid:focus, .form-control.is-valid:focus, .was-validated .custom-select:valid:focus, .was-validated .form-control:valid:focus {
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .25);
}

.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
}

.custom-select.is-invalid:focus, .form-control.is-invalid:focus, .was-validated .custom-select:invalid:focus, .was-validated .form-control:invalid:focus {
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .25);
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-color: rgba(0, 0, 0, 0.15);
    border-right-color: rgba(0, 0, 0, 0.15);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-left-color: rgba(0, 0, 0, 0.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.customer-form-container {
    max-width: 300px;
    border-right-color: rgba(0, 0, 0, 0.15);
    border-left-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.94);
    padding: 5px;
    margin: 5px;
    float: left;
}

.last-orders-container {
    max-width: 300px;
    max-height: 339px;
    border-right-color: rgba(0, 0, 0, 0.15);
    border-left-color: rgba(0, 0, 0, 0.15);
    margin: 5px;
    float: left;
}

.order-preview-container {
    box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.94);
    padding: 5px;
    margin-bottom: 5px;
}

.center-vertical-line {
    border-left: solid 5px #D8D8D8;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
}